<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/styles/style.css">
    <style>
         body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, button {
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

a {
    display: inline-block;
    margin-top: 10px;
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

    </style>
</head>
<body >
    <h1>Dashboard</h1>
    <table>
        <tr>
            <th>Admission Number</th>
            <th>Number of Members</th>
            <th>Delete</th>
        </tr>
        <% attendees.forEach((row) => { %>
            <tr>
                <td><%= row.barcode %></td>
                <td><%= row.numberOfMembers %></td>
                <td>
                    <form action="/delete" method="post">
                        <input type="hidden" name="barcode" value="<%= row.barcode %>">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        <% }); %>
    </table>
    <form action="/download" method="get">
        <button type="submit">Download as CSV</button>
    </form>
    <p>Number of Students: <%= barcodeCount %></p>
    <p>Number of Guest: <%= memberCount %></p>
    <p>Total: <%= totalCount %></p>
    <a href="/attendance">Record Attendance</a>
    <br>
    <a href="/">Back to Home</a>
</body>
</html>
